name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      
# Authentication via credentials json
      - name: Google auth
        id: auth
        uses: 'google-github-actions/auth@v0'
        with:
          project_id: gcp-bucket-sync
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'
                   
  #Bucket sync
      - name: Sync
        run: |
          gsutil -m rsync -r -x ".*\./*" . gs://bucket-sync-99
          
#         uses: swethagodasu/Bucket-sync@main
#         with:
#            credentials_json: ${{ secrets.GCP_CREDENTIALS }}
#            bucket: 'bucket-sync-99/sync'
#            exclude: '.*\.md$|\.gitignore$|\.git/.*$|\.github/.*$'
